pkgbase = sparkymk2
	pkgdesc = Editor and librarian for the Roland SP-404MKII
	pkgver = 0.1.0
	pkgrel = 1
	url = https://github.com/TuscanPL/SparkyMK2
	install = sparkymk2.install
	arch = x86_64
	license = GPL-3.0-or-later
	makedepends = cargo
	makedepends = nodejs
	makedepends = npm
	makedepends = pkgconf
	depends = webkit2gtk-4.1
	depends = gtk3
	depends = libsoup3
	depends = glib2
	depends = cairo
	depends = gdk-pixbuf2
	depends = dbus
	depends = systemd-libs
	depends = gcc-libs
	depends = glibc
	depends = hicolor-icon-theme
	options = !lto
	options = !debug
	source = sparkymk2-0.1.0.tar.gz::https://github.com/TuscanPL/SparkyMK2/archive/refs/tags/v0.1.0.tar.gz
	sha256sums = SKIP

pkgname = sparkymk2
